

# Exceptie pentru .gitignore pentru a fi inclus în git
!.gitignore

# Exceptie pentru directorul src (singurul pe care vrei să-l urci)
!src/

# Ignoră specific fișierele și directoarele generate
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
*.gv
*.pdf